html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.span-yellow {
    color: #FFE500;
}

.yellow-border {
    border: 1px solid #E3C819;
}

#logo {
    margin-top: 30%;
}

.header {
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #272727;
    color: white;
    height: 70px;
}

.nav {
    font-family: 'Raleway';
    font-size: 15px;
    width: 50%;
}

.nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
}

.text-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.text-us>div {
    color: #FFE500;
    width: 100%;
}

.text-us-btn {
    font-family: 'Raleway';
    font-size: 13px;
    margin-left: 2rem;
    border-radius: 2px;
    width: 100%;
    padding: 0.35rem 0;
}

.text-us-btn>button {
    width: 100%;
    background: #272727;
    color: white;
    border: none;
}

.text-us-btn>button:focus {
    outline: none;
}

.text-us-btn>button:hover {
    cursor: pointer;
}

.section-1 {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    align-items: center;
    height: 760px;
    background-color: #272727;
    background-image: url(./images/section-1-bg.png);
    background-size: cover;
}

.mt-logo {
    margin-left: 225px;
    width: 315px;
    height: 350px;
}

.mt-2 {
    display: block;
    color: white;
    font-size: 50px;
    margin-left: -50px;
}

.mt-2>.mt-slogan {
    display: flex;
    align-items: center;
    color: #FFE500;
    margin-top: -5%;
    height: 50px;
}

.mt-2>.mt-slogan>div {
    font-size: 22px;
    padding-left: 30px;
}

.mt-2 hr {
    width: 423px;
}

.mt-2>p {
    font-size: 50px;
    margin-top: 0;
}

.mt-2>.services-list {
    margin-top: 25px;
    width: 85%;
}

.mt-2>.services-list>ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 13px;
    justify-content: space-between;
}

.section-2 {
    font-family: 'Exo 2', sans-serif;
    background: #272727;
    height: 1750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-2__content {
    width: 1260px;
    height: 1535px;
    text-align: center;
    color: white;

    /*background: red;*/
}

.section-2__header h1 {
    font-size: 50px;
    margin: 0;
}

.section-2__header p {
    font-size: 18px;
}

.service {
    margin-top: 50px;
    /*background: lightblue;*/

    width: 1100px;
    height: 540px;

    display: flex;
    align-items: center;
}

.second-service {
    margin-top: -100px;
    margin-left: 160px;
}

.second-service > .service__text {
    width: 400px;
}

.third-service {
    margin-top: -20px;
}

.service-photo {
    justify-self: start;
    width: 750px;
    height: 540px;
}

.service-number {
    font-size: 130px;
    margin-top: 0;

    opacity: 0.1;
}

.service__text {
    /*background: red;*/
    width: 480px;
    height: 290px;
    margin-top: 40px;
    text-align: left;

    font-size: 15px;
    word-spacing: 5px;
}

.service__header {
    font-size: 31px;
}

.service__description {
    line-height: 1.5;
}

.service__text a {
    text-decoration: none;
    color: yellow;
}

.section-3 {
    background: #272727;
    color: white;

    font-family: 'Exo 2', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 700px;
}

.section-3__content {
    width: 1125px;
}

.section-3-headers>h1 {
    display: flex;
        margin-top: 220px;

    justify-content: center;
    font-size: 50px;
}

.section-3-headers>p {
    display: flex;
    justify-content: center;
}

.section-3-headers span {
    margin-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 330px);
    width: 1125px;
    grid-gap: 36px;
}

.grid-item {
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #E3C819;
}

.grid-item__wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
    color: white;
}

.grid-item__wrapper>h1 {
    font-size: 31px;
}

.grid-item__wrapper>p {
    font-size: 15px;
}

.section-5 {
    font-family: 'Exo 2', sans-serif;
    background: #272727 url("./images/bg.png") no-repeat;
    background-size: cover;
    height: 780px;
    color: white;

    text-align: center;
}

.section-5__content {
    padding-top: 100px;

    height: 505px;
    width: 100%;
}

.form__wrapper {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 50px;
}

.form {
    width: 875px;
    display: grid;
    grid-template-rows: repeat(2, 50px) 200px 50px;
    grid-gap: 30px;
    color: white;
}

.inputs-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form input {
    width: 420px;
    height: 50px;
    background: rgba(112, 112, 112, 0.4);
    border: none;
    border-radius: 3px;

    color: white;
    font-size: 16px;
}

.form input::placeholder {
    padding-left: 10px;
    color: white;
}

.form input:focus {
    color: white;
    padding-left: 10px;
}

.inputs-row>input:focus {
    color: white;
}

.text-input {
    height: 200px;
}

.text-input>input {
    height: 100%;
    width: 100%;
}

.submit-btn__container>input {
    color: white;
    width: 100%;
}

.submit-btn__container>input:focus {
    outline: none;
    background: rgba(59, 59, 59, 0.4);
}

.section-4 {
    background-color: #272727;

    font-family: 'Exo 2', sans-serif;
}

.section-4__content {
    margin-top: 200px;
    width: 1090px;
}

.main-text>h1 {
    padding-top: 300px;
    display: flex;
    margin-top: 0;
    justify-content: center;
    font-size: 50px;
}

.main-text-4 {
    margin: 0 0 50px 0;
    text-align: center;
    color: white;
}

.client-logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section__footer {
    font-family: 'Exo 2', sans-serif;
    height: 380px;
    background-color: #272727;
    color: white;
}

.section__footer>.container {
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 24px;
}

.section__footer__content {
    width: 100%;
    height: 160px;

    display: flex;
    justify-content: space-around;
}

.social-media {
    margin-top: 20px;
    width: 205PX;
    display: flex;
    justify-content: space-between;
}

.footer-services-elem {
    font-family: "Raleway";
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 325px;
}

.footer__contacts>p {
    font-size: 15px;
}

.footer__contacts>p img {
    margin-right: 10px;
}