*{
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box-serif;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
}
.container{
	margin: auto;
	width: 1370px;
}

.fixed-menu{
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: #efeeee;
	box-shadow: 15px 11px 7px #c4c4c6;
}
.wraper{
	display: flex;
	justify-content: flex-start;
	height: 70px;
	align-items: center;
}
.logo{
	margin: 0px 50px;
	width: 50px;
}
.ul-menu{
	letter-spacing: 3;
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}
.border-box{
	letter-spacing: 3;
	margin-right: 60px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.border-box li{
	color: #000;
	font-size: 12px;
	letter-spacing: 3px;
}

.border-animation{
	position: absolute;
	z-index: 40;
	width: 38px;
	height: 38px;
	border: 2px solid #d71e1e;
	transition: 0.2s;
	opacity: 0%;
}
.border-box:hover .border-animation{
	position: absolute;
	z-index: 40;
	width: 38px;
	height: 38px;
	border: 2px solid #d71e1e;
	transform: rotate(45deg);
	opacity: 100%;
}
header{
	padding-top: 200px;
	padding-bottom: 200px;
}
.header-text{
	position: relative;
	width: 620px;
	margin-left: 180px;
	height: 300px;
	background-repeat: no-repeat;
	padding-left: 325px;
}
.header-text img{
	position: absolute;
	left: 0;
}
.header-text h6{
	color: #D71E1E;
	font-size: 16px;
}
.header-text h1{
	color: #131313;
	font-size: 60px;
	font-weight: 300;
}
.header-text p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.header-animation{
position: absolute;
top: 70px;
width: 700px;
height: 650px;
right: 0;
z-index: 9;
padding-top: 125px;
overflow: hidden;
padding-left: 100px;
}
.header-animation-item{
	z-index: 10;
	position: relative;
	border: 1px solid red;
	height: 250px;
	width: 250px;
	transform: rotate(45deg);
}
.header-animation-item img{
	position: absolute;
height: 400px;
transform: rotate(-45deg);
top: -58px;
left: -75px;
}
.header-animation-item-2 img{
top: -90px;
left: -62px;
height: 412px;
}
.header-animation-item-1 img{
top: -108px;
height: 455px;
left: -93px;
}
.header-animation-item-3{
bottom: 390px;
right: -388px;
animation-name: header-item-3;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-timing-function: 2s;
}
.header-animation-item-1{
top: -26px;
left: 170px;
animation-name: header-item-1;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-timing-function: 2s;
}
.header-animation-item-2{
top: -78px;
left: 163px;
animation-name: header-item-2;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-timing-function: 2s;
}

@keyframes header-item-1{
0%{
	left: 170px;
	top: -26px;
} 

30%{
	left: 387px;
	top: 111px;
}
40%{
	left: 387px;
	top: 111px;
}
70%{
	top: 171px;
	left: 163px;
}
80%{
	top: 171px;
	left: 163px;
}
100%{
	left: 170px;
	top: -26px;
} 

}

@keyframes header-item-2{
0%{
	left: 170px;
	top: -26px;
} 

30%{
	top: -275px;
	left: 170px;
}
40%{
	top: -275px;
	left: 170px;
}
70%{
	top: -131px;
	left: 395px;
}
80%{
	top: -131px;
	left: 395px;
}
100%{
	left: 170px;
	top: -26px;
} 

}

@keyframes header-item-3{
0%{
	bottom: 390px;
	right: -388px;
} 

30%{
	bottom: 329px;
	right: -163px;
}
40%{
	bottom: 329px;
	right: -163px;
}
70%{
	bottom: 526px;
	right: -170px;
}
80%{
	bottom: 526px;
	right: -170px;
}
100%{
	bottom: 390px;
	right: -388px;
} 

}
.burger-fon{
	display: none;
}
.down{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 613px;
}
.down p{
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
	font-size: 14px;
	color: #000;
	margin-left: 5px;
	transform: rotate(90deg);
}
.down img{
	width: 50px;
	position: absolute;
	top: 30px;
		animation-name: down-icon;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}
@keyframes down-icon{
0%{
	top: 30px;
} 
50%{
	top: 55px;
}
100%{
	top: 30px;
} 
}


/*--------------------------------*/
body{
	background-color: #efeeee;
}
.sitebar{
	position: relative;
}
.slider-hidden{
	width: 100%;
	height: 700px;
	margin: auto;
	margin-bottom: 60px;
}


.slider {
    position: relative;
     
    }
    .slider-center{
    overflow: hidden;
    }

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    margin-top: 100px;
    }

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
	cursor: pointer;
	display: inline-block;
	transition: 0.2s;
}

.slider__control::before {
    content: '';
    display: inline-block;
}

.slider__control_left{
    background-image: url("../img/Left Arrow.png");
    position: relative;
    background-size: cover;
    height: 70px;
    width: 35px;
	left: 261px;
	top: -100px;
}

.slider__control_right{
	background-image: url("../img/Right Arrow.png");
	position: relative;
	background-size: cover;
	height: 100px;
	width: 50px;
	right: -258px;
	top: -630px;
}

.section-2{
	position: relative;
	height: 700px;
}

.yellow-block{
	top: 85px;
	position: absolute;
	width: 600px;
	height: 600px;
}
.slider-object{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 600px;
}
.slider-object img{
	height: 580px;
	margin-left: 100px;
}
.slider-object-text{
	width: 680px;
}
.main-text{
	color: red;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 4px;
}
.main-text-h2{
	margin-top: -20px;
	color: #131313;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 2.5px;
}
.slider-object-text p{
	margin-top: 30px;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}

.about-us{
	text-align: center;
	margin-top: 170px;
}
.block-animation{
	position: relative;
	margin: auto;
	width: 100%;
	margin-top: 280px;
}
.block-animation-item{
	position: absolute;
	width: 260px;
	height: 260px;
	border: 3px solid  #191919;
	transform: rotate(45deg);
	background-color: #191919;
	transition: 0.2s;
	z-index: 2;
}
.block-animation-item-1{
		animation-name: yell-shadow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
	left: 75px;
}
.block-animation-item-2{
		animation-name: yell-shadow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
	left: 460px;
}
.inline-x{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 800px;
}
.inline-y{
position: relative;
transform: translateX(-50%);
width: 800px;
left: 50%;
top: 0px;
}
.text-x{
	transform: rotate(-45deg);
	margin-left: 0px;
margin-top: 72px;
position: relative;
}
.text-y{
	transform: rotate(-45deg);
margin-left: -3%;
margin-top: 61px;
position: relative;
}
.block-animation-item-3{
	left: 267px;
	top: -195px;
		animation-name: block-shadow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}
.block-animation-item-4{
	left: 267px;
	top: 195px;
		animation-name: block-shadow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}
.block-animation-item h6{
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 2.5px;
}
.block-animation-item p{
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
font-family: 'Raleway', sans-serif;
}

.yellow-for-text{
position: absolute;
background-color: #EBCE0C;
width: 260px;
height: 260px;
z-index: -1;
top: -2px;
left: -2px;
transform: rotate(45deg);
}

.yellow-for-text-1{
	left: 361px;
	top: 2px;
}
.yellow-for-text-2{
	left: 745px;
	top: 2px;
}
.yellow-for-text-3{
	left: 553px;
	top: -193px;
}
.yellow-for-text-4{
	left: 551px;
	top: 198px;
}

.text-x{
	color:#EFEEEE;
	animation-name: change-x;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}
.text-y{
	color:#EFEEEE;
	animation-name: change-y;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}
@keyframes change-x{
0%{
	color:#EFEEEE;
}
30%{
	color: #000;
}
60%{
	color: #000;
}
90%{
	color:#EFEEEE;
}
100%{
	color:#EFEEEE;
}

}
@keyframes change-y{
0%{
	color: #000;
}
30%{
	color:#EFEEEE;
}
60%{
	color:#EFEEEE;
}
00%{
	color: #000;
}
100%{
	color: #000;
}

}


@keyframes yell-shadow{
0%{
	margin-top: 0px;
	border: 3px solid  #191919;
	background-color: #191919;
	box-shadow: 13px 13px 5px #1A191600;
} 
30%{
	margin-top: -10px;
	border: 3px solid  #191919;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 13px 13px 5px #292720

}
60%{
	margin-top: -10px;
	border: 3px solid  #191919;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 13px 13px 5px #292720
}
90%{
	margin-top: 0px;
	border: 3px solid  #191919;
	background-color: #191919;
	box-shadow: 13px 13px 5px #1A191600;
} 
100%{
	margin-top: 0px;
	border: 3px solid  #191919;
	background-color: #191919;
	box-shadow: 13px 13px 5px #1A191600;
} 

}
@keyframes block-shadow{
0%{
	margin-top: -10px;
	border: 3px solid  #191919;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 13px 13px 5px #292720
} 
30%{
	margin-top: 0px;
	border: 3px solid  #191919;
	background-color: #191919;
	box-shadow: 13px 13px 5px #1A191600;
}
60%{
	margin-top: 0px;
	border: 3px solid  #191919;
	background-color: #191919;
	box-shadow: 13px 13px 5px #1A191600;
}
90%{
	margin-top: -10px;
	border: 3px solid  #191919;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 13px 13px 5px #292720
} 
100%{
	margin-top: -10px;
	border: 3px solid  #191919;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 13px 13px 5px #292720
} 
}
#section4{
	position: relative;
	margin-top: 900px;
}
#viewport {
    width: 100%;
    overflow: hidden;
    margin-top: 670px;
}
 
.slider2 {
    position: relative;
    transition: 500ms;
    width: calc(100% * 5);
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
 
.slide {
    width: 1370px;
    height: 500px;
}
 
 
#viewSlider {
display: flex;
justify-content: space-between;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 470px;
width: 80px;
display: none;
}
 
.viewSlide {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #707070;
}
.slid-window{
	width: 1370px;
	height: 500px;
	display: flex;
	justify-content: space-between;
}
.sec4{
	height: 400px;
	width: 730px;
	position: absolute;
	right: 100px;
	top: 25px;
	background-color: #EBCE0C;
}
.slid-window-text{
	width: 300px;
	height: 300px;
	border: 5px solid #EBCE0C;
	transform: rotate(45deg);
	margin-left: 150px;
	margin-top: 60px;
	padding-top: 60px;
}
.slid-window-text p{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	text-align: center;
	transform: rotate(-45deg);
	letter-spacing: 1px;
}
.slid-window-text span{
	color: #D71E1E;
	font-size: 22px;
	letter-spacing: 2.5px;
}
.slid-window-video{
	margin-top: 25px;
	height: 390px;
	width: 740px;
	border-bottom: 10px solid #EBCE0C;
border-left: 20px solid #EBCE0C;
box-shadow: -12px 12px 8px #c4c4c6;
}
.slid-2-btn{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
}
.slid-2-btn img{
	height: 60px;
	width: 45px;
}
.prev{
top: 260px;
left: 10%;
}
.next{
top: 555px;
left: 30%;
}
.us-slide{
	position: relative;
left: 0;
top: -720px;
width: 100%;
}

.main-text-4{
	margin: 150px 0px 50px 0px;
	text-align: center;
}

.nav-elements{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
	width: 100%;
}
.nav-hidden{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
	width: 100%;
	overflow: none;
}
.nav-btn{
	background-color: none;
	border: none;
	cursor: pointer;
	margin-left: 50px;
	width: 60px;
	display: none;
}
.nav-btn img{
	width: 30px;
	animation-name:  nav-btn-pulse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: 2s;
}
.single-class{
	width: 245px;
	height: 100px;
}

@keyframes nav-btn-pulse{
0%{
	width: 30px;
	box-shadow: 2px 2px 2px #c4c4c6;
} 
50%{
	width: 35px;
	box-shadow: -12px 12px 8px #c4c4c6;
}
100%{
	width: 30px;
	box-shadow: 2px 2px 2px #c4c4c6;
}
}


footer{
	margin-top: 150px;
	background-color: #141414;
	height: 650px;
	position: relative;
	overflow: hidden;
}
.footer{
	display: flex;
	justify-content: space-between;
	height: 850px;
	width: 100%;
}
.form-group{
	width: 400px;
	border: none;
}
.form-control{
	display: block;
	margin: auto;
    margin-top: auto;
	width: 100%;
	background-color: #141414;
	border: none;
	border-bottom: 2px solid #EFEEEE;
	height: 40px;
	margin-top: 15px;
	color: #FFF;
	font-size: 14px;
}
.form-control-4{
	height: 80px;
}
.footer-h1{
	color: #FFF;
	font-size: 18px;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 100px;
}
.form-btn{
	color: #FFF;
	font-size: 18px;
	text-align: center;
	letter-spacing: 3px;
	border: 2px solid #FFF;
	width: 100%;
	height: 40px;
	background-color: #141414;
}
.sm-elem{
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
}
.sm-elem img{
	width: 48px;
}

.contacts{
	width: 340px;
	height: 340px;
	border: 3px solid #EBCE0C;
	transform: rotate(45deg);
	margin-top: 140px;
	color: #FFF;
	text-align: center;
	margin-right: 490px;
}
.contacts p{
	font-size: 16px;
	transform: rotate(-45deg);
	margin: 30px 0px 0px -50px;
}
.contacts span{
	font-size: 22px;
	letter-spacing: 2px;
	letter-spacing: 3px;
}
.contacts strong{
	letter-spacing: 3px;
}

.parent-maps{
	height: 400px;
	width: 400px;
	position: absolute;
	right: 120px;
	transform: rotate(45deg);
	overflow: hidden;
top: 113px;
border: 1px solid red;
}
.map{
	transform: rotate(-45deg);
margin-top: -103px;
margin-left: -77px;
width: 600px;
height: 600px;
}
.yellow-cub{
height: 400px;
width: 400px;
border: 3px solid #EBCE0C;
transform: rotate(45deg);
position: absolute;
left: 275px;
top: 163px;
}
.hidden-for-yellow{
width: 500px;
height: 700px;
position: absolute;
overflow: hidden;
z-index: 2;
right: 0;
top: 2965px;
}